.livechat-admin-settings-form .edit-submit
{
  background-image: linear-gradient(to bottom, white, white);
  border: none;
  font-size: 85%;
  text-decoration: underline;
  color: #999;
  text-shadow: none;
  outline-style: none;
  margin-left: 0px;
  padding-left: 0px;
}

.livechat-admin-settings-form .edit-submit:hover
{
  background-image: linear-gradient(to bottom, white, white);
  border: none;
  box-shadow: none;
  border-shadow:none;
  color: #999;
  text-shadow: none;
  outline-style: none;
/*  margin-left: 120px;*/
}

.livechat-admin-settings-form .edit-submit:focus
{
  background-image: linear-gradient(to bottom, white, white);
  border: none;
  box-shadow: none;
  border-shadow:none;
  color: #999;
  text-shadow: none;
  outline-style: none;
/*  margin-left: 120px;*/
}


#edit-webapp-link-container > a:nth-child(3) {
	margin-left: 7px;
}



#edit-save-advanced {
	border-radius: 0.143rem;
	margin-left: 0px;
	margin-top: 8px;
	margin-bottom: 13px;
}

.js-form-item-sounds {
	margin-top: 0px!important;
}

iframe#login-with-livechat,
#login_form {
	margin-left: 5px;
	width: 214px;
	height: 43px;
	border: none;
}

.livechat_logo2 {
	content: url(../img/livechat-drupal-is-here@2x.png);
	width: 600px;
}

.livechat_screenshot {
	content: url(../img/livechat-app.png);
	height: auto;
	width: 100%;
	max-width: 800px;
	margin-top: 30px;
}
